<strong>Olá, {{ creator }}</strong>
<p>Houve uma inscrição no seu meetup, confira os detalhes abaixo</p>
<p>
  <strong>Usuário: </strong> {{ user }} <br />
  <strong>Email: </strong> {{ email }} <br />
  <strong>Meetup: </strong> {{ meetup }} <br />
</p>